body {
  background-color: #94c2dc;
}
#small {
  font-size: 15px;
  margin-top: -20px;
}
input[type=submit] {
  width: 100px;
  padding: 6px 10px;
  margin: 8px 0;
  border: 1px solid #3f6c96;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  background-color: #3f6c96;
}
input[type=submit]:hover {
  background-color: #1d4060;
}
input[type=text], select {
  width: 400px;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  box-sizing: border-box;
}
.button {
  display: block;
  text-align: center;
}
.form {
  display: block;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-bottom: 50px;
}
h1 {
  color: #1d4060;
  text-align: center;
  font-family: "Josefin Sans", Tacoma;
  font-size: 55px;
}
body p {
  font-family: "Josefin Sans", Tacoma;
  color: #3f6c96;
  text-align: center;
  font-size: 25px;
}

